html {
    scroll-behavior: smooth;
  }
  
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .smartbrain-btn {
    background: #112d4e;
    color: #fff;
    border-radius: 1px;
    font-size: 15px;
    border: 0.3px solid #112d4e;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  
  }
  
  .smartbrain-inactive__btn {
    color: #112d4e;
    border: 2px solid #112d4e;
    background: #fff;
  }
  
  .smartbrain-disabled__btn {
    color: #fff;
    background: #e0e0e0;
  }
  
  /* Start Navbar */
  .navbar {
    background: #dbe2ef;
    position: fixed;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .signin {
    border: 1.5px solid #112d4e;
    color: #112d4e;
    background: white;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .register {
    background: #112d4e;
    color: white;
    padding: 10px 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .signin:focus,
  .register:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  @media (min-width: 992px) {
    .navbar {
      height: 100px;
    }
    .navbar li {
      margin-right: 20px;
    }
    .navbar li:last-child {
      margin-right: 0px;
    }
    .signin {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  
  /* End Navbar */
  .footer footer {
    height: 50px;
    background: #fff;
    color: #112d4e;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
  
  .footer footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .footer footer div span {
    font-weight: 600;
    font-size: 13.0619px;
  }
  
  .footer .navigations {
    background: #112d4e;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .footer .navigations .navigation {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #dbe2ef;
  }
  
  .footer .navigations .navigation h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  
  .footer .navigations .navigation h4 i {
    color: white;
    margin-left: 10px;
  }
  
  .footer .navigations .navigation ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
  }
  
  .footer .navigations .navigation img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .footer .navigations .navigation .footer-nav__content {
    height: 0px;
    overflow: hidden;
    list-style: none;
  }
  
  .footer .navigations .navigation .footer-nav__content li a {
    color: #ececec;
  }
  
  .footer .navigations .navigation:last-child h4 {
    display: none;
  }
  
  .footer .navigations .navigation:last-child .footer-nav__content {
    height: 100%;
  }
  
  .footer .navigations .navigation:last-child .footer-nav__content ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer .navigations .navigation:last-child .footer-nav__content li div,
  .footer .navigations .navigation:last-child .footer-nav__content li p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .footer .navigations .navigation:last-child .form {
    display: none;
  }
  
  .footer .navigations .navigation:hover .footer-nav__content {
    height: 100% !important;
  }
  
  @media (min-width: 992px) {
    .footer .navigations {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 40px 30px;
    }
    .footer .navigations .navigation {
      width: 20%;
      text-align: left;
      border-bottom: none;
    }
    .footer .navigations .navigation h4 i {
      display: none;
    }
    .footer .navigations .navigation .footer-nav__content {
      height: 100px;
    }
    .footer .navigations .navigation:last-child h4 {
      display: block;
    }
    .footer .navigations .navigation:last-child .footer-nav__content li div,
    .footer .navigations .navigation:last-child .footer-nav__content li p {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
    }
  }
  .btn-n-amount{
    display:flex;
    float: 1/2;
    gap: 10px;
    white-space: space 10rem;
    justify-content: center;
    padding-bottom: 1rem;
    margin-bottom: 3%;
    margin-bottom: 50px;
  }
  
  .course-offered-text{
    margin-left:29%;
    padding-bottom: 2%;
    color:  #112d4e;
    
  
  }
  
  .margin-btn{
    margin-top: 0%;
    color:  #112d4e;
    
  }
  
  .inspirational-text{
    padding: 7% 10% 0% 10%  ;
    margin-left: 20%;
    margin-right: 20%;
    font-size: medium;
    font-weight: 100px;
    color:  #112d4e;
  }
  
  .smartbrain-section {
    margin-bottom: 80px;
  }
  
  .section-title h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
  }
  
  @media (min-width: 992px) {
    .section-title h3 {
      font-weight: 600;
      font-size: 36px;
      line-height: 54px;
    }
  }
  
  /* showcase---banner */
  .courses-showcase {
    height: 600px;
    background: url('../img/courses/showcase.jpg'), #0b141f;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    overflow: hidden;
    background-position: center bottom;
    background-blend-mode: screen;
    background-position: center;
    backface-visibility: visible;
    padding: 20px;
    color: white;
  }
  
  .courses-showcase .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  
  .courses-showcase-content h2 {
    font-style: normal;
    font-weight: 900px;
    font-size: 50px;
    line-height: 135%;
    margin-bottom: 5px;
    color: #ffffe0;
    
  }
  
  .courses-showcase .main-content p:first-child {
    font-size: 14px;
    font-weight: 800;
    line-height: 139%;
    color: #000;
  }
  
  
  .courses-showcase .main-content {
    margin-right: 20px;
  }
  
  .courses-showcase .main-content {
    margin-top: 10px;
  }
  
  .courses-showcase .secondary-content {
    position: absolute;
    bottom: 90px;
    left: 5%;
    background: #fff;
    color: #000;
    width: 90%;
    -webkit-box-shadow: 0.39479px 0.78959px 12.6334px #0000001a;
    box-shadow: 0.39479px 0.78959px 12.6334px #0000001a;
    padding: 10px;
    z-index: 2;
  }
  
  .courses-showcase .secondary-content h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
  
  .courses-showcase .secondary-content p {
    font-weight: 300;
    font-size: 8.57456px;
    line-height: 13px;
  }
  
  .course-about {
    margin-top: 120px;
  }
  
  .course-about .content img {
    height: 313px;
    width: 100%;
  }
  
  .course-about .content h3 {
    font-weight: 600;
    font-size: 19.0638px;
    line-height: 29px;
  }
  
  
  @media (min-width: 992px) {
    .course-about .content img {
      height: 430px;
      width: 100%;
    }
    .course-about .content h3 {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
    }
    .course-about .content p {
      font-weight: 300;
      font-size: 20px;
      line-height: 36px;
    }
  }
  
